<%= simple_form_for(@pin, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description, label: "Message", :input_html => { :rows => 5, :placeholder => "Please leave a message to express something", :class => "span9"} %>
  </div>

  <div class="form-actions">
    <%= f.submit "Add Message", class: "btn btn-primary" %>
  </div>
<% end %>
