<% provide(:title, 'Message Added') %>

<div class="hero-unit">
  <h1><%= yield(:title) %></h1><hr>

<p>
  <strong>From:</strong>
  <%= @pin.name %>
</p>

  <em><%= @pin.description %></em>

<%= render 'edit' %>
<%= render 'back' %>


<%= render '/charges#new' %>

</div>