<% if fund.paid? %>
  <tr style="color:green">
<% else %>
    <tr>
<% end %>
    <td><%= link_to fund.name, fund %></td>
    <td><%= number_to_currency(fund.dollars) %></td>
    <td>
    	<% t = fund.created_at %>
    	<% t -= (7 * 60 * 60) %>
    	<%= t.strftime("%B %d, %Y @ %I:%M %p") %>
    </td>
    <td><%= link_to "Verify Donation", fund, class: "btn btn-primary" %></td>
    <td>
        <% unless fund.paid? %>
            <%= link_to 'Destroy', fund, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        <% end %>
    </td>
  </tr>