<% provide(:title, 'Donation Received') %>

<div class="hero-unit">
  <h1><%= yield(:title) %>!</h1>
  <hr>
  <p>
    Dear <%= Fund.last.name %>,
  </p>
  <p>
  	Thank you so much for your donation to John for Carlos! 100% of every dollar donated will be put into a trust fund for Carlos' education, and your donation of $<%= Fund.last.dollars %> is greatly appreciated.
  </p>
  <p>
  	Please save this page for your receipt. Receipt ID # 000<%= Fund.last.id %>.
  </p>
  <p>
  	Thank you, <br>
  	The Iasons
  </p><hr>
<p><%= link_to 'Home', root_path, class: "btn btn-inverse" %></p>
</div>